language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install twine
  - pip install -r requirements.txt
script:
  - pytest
after_success:
  - python setup.py bdist_wheel
  - twine upload -p dist/*